:root {
  --heading: #97a88e;
}
@font-face {
    font-family: nexa_hand;
    src: url(/css/NexaRustHand.ttf);
}
@font-face {
    font-family: nexa;
    src: url(/css/NexaRustSlab-1.ttf);
}
@font-face {
    font-family: nexa_shadow;
    src: url(/css/NexaRustSlab-Shadow1.ttf);
}
.dyba-body {
  margin: 0;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}
.dyba-header {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  background-image: url("/images/Jags Logo Green.png");
  background-size: 190px;
}
.dyba-background {
  margin: 0;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  background-image:
    linear-gradient(
      to right,
      rgba(0, 82, 20, 0.90),
      rgba(0, 82, 20, 1) 20%,
      rgba(0, 82, 20, 1) 80%,
      rgba(0, 82, 20, 0.90)
    );
}
.dyba-title-bar {
  position: relative;
  display: block;
  height: 100px;
}
.dyba-logo-container {
  position: relative;
  display: inline-block;
  height: 100px;
  text-align: center;
}
.home-hidden {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 100px;
  font-size: 20px;
  font-family: 'nexa_hand', serif;
  color: white;
  text-align: center;
  opacity: 0;
}
.dyba-nav-logo {
  position: relative;
  display: inline-block;
  height: 110px;
}
.dyba-title-container {
  position: relative;
  display: inline-block;
  height: 100px;
}
.dyba-title {
  position: relative;
  display: block;
  color: white;
  text-align: left;
  font-size: 3.2vw;
  line-height: 100px;
  font-family: 'nexa', serif;
}
.dyba-nav-bar {
  position: relative;
  display: block;
  height: auto;
  margin: 0;
}
.dyba-nav-container {
  position: relative;
  padding: 0;
  width: 100%;
  margin-bottom: 0;
  background-color: white;
  text-align: center;
  border-bottom: 2px solid black;
}
.dyba-nav-container.sticky {
  position: fixed;
  top: 0;
  z-index: 99;
}
.dyba-nav-link-container {
  position: relative;
  display: inline-block;
  width: auto;
  height: 30px;
}
.dyba-nav-link {
  position: relative;
  text-decoration: none;
  display: block;
  color: black;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-family: 'nexa_hand', serif;
}
.dyba-nav-item {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  width: auto;
}
.dyba-nav-logo-small {
  position: relative;
  height: 10px;
  margin-top: -3px;
}
.dyba-nav-dropdown-container {
  position: relative;
  display: inline-block;
  width: auto;
  height: 30px;
}
.dyba-nav-dropdown-header {
  position: relative;
  text-decoration: none;
  display: block;
  color: black;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-family: 'nexa_hand', serif;
}
.dyba-nav-dropdown-menu {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 0;
  background: #fff;
  border: 1px solid #999;
  border-radius: 0 0 5px 5px;
  box-shadow: 3px 3px 10px #999, -3px 3px 10px #999;
  z-index: 1;
  display: none;
}
.dyba-nav-dropdown-menu li a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 3px 10px;
  clear: both;
  color: black;
  font-size: 15px;
  font-family: 'nexa_hand', serif;
  text-align: left;
  font-weight: normal;
  white-space: nowrap;
}
.dyba-nav-dropdown-menu li a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}
.dyba-nav-container-sm .dyba-nav-dropdown-header:hover {
  text-decoration: none;
  color: #999;
}
.dyba-xs-nav-dropdown {
  width: 90%;
  max-width: 350px;
  margin: auto;
  font-family: 'nexa_hand', serif;
}
.dyba-xs-nav-button {
  width: 100%;
}
.dyba-main {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  min-height: 600px;
  margin: 0;
  padding-top: 40px;
  background-color: #dddedd;
}
.dyba-main.sticky {
  top: 30px;
}
.dyba-main-heading {
  position: relative;
  display: block;
  width: 600px;
  height: auto;
  margin: 0 auto;
}
.dyba-main-heading-row1 {
  position: relative;
  display: flex;
  width: 60%;
  height: 30px;
  margin: 0 auto;
}
.dyba-main-heading-row1-border {
  position: relative;
  display: inline-block;
  width: 35%;
  height: 30%;
  border-bottom: 3px ridge var(--heading);
}
.dyba-main-heading-row1-image {
  position: relative;
  display: inline-block;
  width: 108px;
  height: 100%;
  text-align: center;
}
.dyba-main-heading-row1-image-file {
  position: relative;
  width: 60px;
  top: -25px;
  opacity: 0;
  animation: show-jag 1s 1.5s forwards cubic-bezier(.64,1.87,.64,.64);
}
.dyba-main-heading-row2 {
  position: relative;
  display: block;
  width: auto;
  height: 80px;
  color: #005214;
  text-align: center;
  font-size: 65px;
  line-height: 80px;
  letter-spacing: 5px;
  font-family: 'nexa_shadow', serif;
}
.dyba-main-heading-row3 {
  position: relative;
  display: block;
  width: 100%;
  height: 15px;
  border-bottom: 3px ridge var(--heading);
}
.dyba-main-content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
}
.dyba-main-content p {
  position: relative;
  display: block;
  width: 100%;
  line-height: 27px;
  color: black;
  font-size: 18px;
  font-family: 'Happy Monkey', serif;
  text-align: left;
}
ul {
  list-style-type: none;
}
.dyba-footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 10px;
  background: #005214;
  color: var(--heading);
  font-family: 'Happy Monkey', serif;
  font-size: 12px;
}
.dyba-footer-credits {
  position: relative;
  display: inline-block;
  height: 50px;
}
.dyba-footer-credits p {
  line-height: 50px;
  text-align: left;
  margin-bottom: 0;
}
.dyba-footer-credits-popup {
  position: relative;
  display: none;
  width: 200px;
  height: 66px;
  padding: 3px;
  line-height: 20px;
  border-radius: 5px;
  background: #005214;
  text-align: left;
  bottom: 66px;
}
.dyba-footer-middle {
  position: relative;
  display: inline-block;
  height: 50px;
  padding: 5px 0;
}
.dyba-footer-created {
  position: relative;
  display: block;
  width: 100%;
  height: 50%;
  text-align: center;
}
.dyba-footer-created a {
  line-height: 20px;
  color: var(--heading);
}
.dyba-footer-created a:hover {
  color: white;
  text-decoration: none;
}
.dyba-footer-copyright {
  position: relative;
  display: block;
  width: 100%;
  height: 50%;
}
.dyba-footer-copyright p {
  line-height: 20px;
  text-align: center;
  margin-bottom: 0;
}
.dyba-footer-contact {
  position: relative;
  display: inline-block;
  height: 50px;
}
.dyba-footer-contact p {
  line-height: 50px;
  text-align: right;
  margin-bottom: 0;
}
@keyframes show-jag {
  0% {
    opacity: 0;
    transform: rotateZ(-100deg);
  }
  100% {
    opacity: 1;
    transform: rotateZ(0);
  }
}
@media (max-width: 991px) {
  .dyba-footer-credits {
    height: 20px;
  }
  .dyba-footer-credits p {
    line-height: 20px;
    text-align: center;
  }
  .dyba-footer-credits-popup {
    margin: 0 auto;
  }
  .dyba-footer-middle {
    height: 40px;
    padding: 0;
  }
  .dyba-footer-contact {
    height: 20px;
  }
  .dyba-footer-contact p {
    line-height: 20px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .dyba-title-bar {
    height: auto;
  }
  .dyba-title-container {
    padding-top: 10px;
    height: auto;
  }
  .dyba-title {
    text-align: center;
    line-height: 34px;
    font-size: 34px;
  }
  .dyba-main-heading {
    width: 80%;
    max-width: 400px;
  }
  .dyba-main-heading-row1-image {
    width: 108px;
  }
  .dyba-main-heading-row1-image-file {
    width: 44px;
    top: -10px;
  }
  .dyba-main-heading-row2 {
    height: 50px;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px;
  }
}
@media (max-width: 450px) {
  .dyba-title {
    text-align: center;
    font-size: 7vw;
  }
}
