@font-face {
    font-family: immortal;
    src: url(/css/immortal.ttf);
}
.tory-container {
  background: #ff6500;
  min-height: 650px;
}
.sidebar-container {
  height: auto;
  padding-bottom: 30px;
  background-image:
    linear-gradient(
      to right,
      #b24700,
      #b24700 90%,
      #ff6500
    );
}
.profile-container {
  height: auto;
  text-align: center;
  font-family: immortal;
  color: #fe934c;
  width: 90%;
}
.profile-container p {
  font-family: immortal;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}
.social-container {
  display: inline-block;
  height: auto;
  width: 90%;
  text-align: center;
  padding-top:10px;
}
.social-icon {
  height: 20px;
  margin: 0 10px;
}
.my-work-container {
  height: auto;
  text-align: center;
  font-family: immortal;
  font-size: 30px;
  line-height: 30px;
  color: #fe934c;
  width: 90%;
}
.button-container {
  width: 80%;
  margin: auto;
  padding-top: 7px;
}
.my-work-button-text {
  font-family: georgia;
  font-size: 20px;
}
.main-container {
  height: auto;
  background: #ff6500;
  padding-top: 100px;
  text-align: center;
  font-family: immortal;
  font-size: 55px;
  line-height: 70px;
  color: white;
}
.fr-ed {
  font-size: 45px;
}
@media (max-width: 767px) {
  .sidebar-container {
    height: auto;
    padding-bottom: 20px;
    background: #b24700;
    margin-top: 0;
  }
  .profile-container {
    width: 100%;
  }
  .profile-heading {
    margin-top: 0;
    padding-top: 10px;
  }
  .social-container {
    width: 100%;
    padding-top:10px;
  }
  .my-work-container {
    width: 100%;
  }
  .button-container {
    width: 60%;
}
  .main-container {
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media (max-width: 500px) {
  .fr-ed {
    font-size: 35px;
  }
}
@media (min-width: 767px) and (max-width: 865px) {
  .my-work-button-text {
    font-size: 18px;
  }
  .music-animation {
    font-size: 14px;
  }
}
@media (min-height: 651px) {
  .tory-container {
    height: 100vh;
  }
}
