@font-face {
    font-family: immortal;
    src: url(/css/immortal.ttf);
}
.tory-container {
  background: #ff6500;
  min-height: 100vh;
}
.sidebar-container {
  height: auto;
  padding-top: 20px;
  padding-bottom: 30px;
  background-image:
    linear-gradient(
      to right,
      #b24700,
      #b24700 90%,
      #ff6500
    );
}
.sidebar-container.col-md-4 {
  min-height: 100vh;
}
.profile-container {
  height: auto;
  text-align: center;
  font-family: immortal;
  color: #fe934c;
  width: 90%;
}
.profile-container p {
  font-family: immortal;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}
.social-container {
  display: inline-block;
  height: auto;
  width: 90%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
}
.social-icon {
  height: 30px;
  margin: 0 10px;
}
.my-work-container {
  height: auto;
  text-align: center;
  font-family: immortal;
  font-size: 30px;
  line-height: 30px;
  color: #fe934c;
  width: 90%;
}
.button-container {
  width: 80%;
  margin: auto;
  padding-top: 7px;
}
.my-work-button-text {
  font-family: georgia;
  font-size: 20px;
}
.main-container {
  height: auto;
  background: #ff6500;
  padding-top: 100px;
  text-align: center;
  font-family: immortal;
  font-size: 55px;
  line-height: 70px;
  color: white;
}
.tr-circle {
  position: relative;
  height: 150px;
  width: 150px;
  color: #ff6500;
  border-radius: 50%;
  background: #ff6500;
  margin: 0 auto 30px;
  animation: tsr-change 2s 1s steps(8) 15 forwards alternate;
}
.tr-text {
  position: absolute;
  display: block;
  width: 100%;
  line-height: 150px;
  text-align: center;
}
.tr-phone1 {
  position: absolute;
  display: block;
  opacity: 0;
  width: 100%;
  line-height: 150px;
  text-align: center;
  font-size: 25px;
  color: white;
  top: -15px;
}
.tr-phone2 {
  position: absolute;
  display: block;
  opacity: 0;
  width: 100%;
  line-height: 150px;
  text-align: center;
  font-size: 25px;
  color: white;
  top: 15px;
}
.tr-circle.hidden-md .tr-phone1 {
  display: none;
  opacity: 1;
}
.tr-circle.hidden-md .tr-phone2 {
  display: none;
  opacity: 1;
}
.fr-ed {
  font-size: 45px;
}
@keyframes tsr-change {
  0% {
    background: #ff6500;
  }
  100% {
    background: #b24700;
  }
}
@media (max-width: 991px) {
  .sidebar-container {
    height: auto;
    padding-bottom: 20px;
    background: #b24700;
    margin-top: 0;
  }
  .sidebar-container.col-md-4 {
    min-height: 1px;
  }
  .profile-container {
    width: 100%;
  }
  .profile-container p {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  .profile-heading {
    margin-top: 0;
    padding-top: 10px;
  }
  .social-container {
    width: 100%;
    padding-top: 20px;
  }
  .my-work-container {
    width: 100%;
  }
  .button-container {
    width: 60%;
    max-width: 400px;
}
  .main-container {
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media (max-width: 500px) {
  .fr-ed {
    font-size: 35px;
  }
}

