<div class="dyba-main-container row">
  <div class="dyba-links-sidebar col-md-3 col-sm-12">
    <a class="dyba-sidelink" role="link" href="http://www.cnn.com">
      <div class="content"></div>
    </a>
    <a class="dyba-sidelink" role="link" href="#">
      <img src="/images/Jags Logo Green.png" class="dyba-sidebar-logo">
      <p>REGISTER<br>FOR DYBA</p>
    </a>
    <a class="dyba-sidelink" role="link" href="#">Link 3</a>
  </div>
  <div class="dyba-main-content col-md-9 col-sm-12"></div>
</div>







