<div class="dyba-title-bar row">
  <div class="col-xs-1"></div>
  <a href="#" class="dyba-logo-container hidden-xs col-sm-2">
    <span class="home-hidden">Home</span>
    <img src="/images/Jags-shield-logo-white-text.png" class="dyba-nav-logo">
  </a>
  <div class="dyba-title-container col-xs-10 col-sm-8">
    <span class="dyba-title">D'EVELYN YOUTH BASKETBALL</span>
  </div>
  <div class="col-xs-1"></div>
</div>

<nav class="dyba-nav-bar row">
  <ul class="dyba-nav-container dyba-nav-container-md hidden-xs hidden-sm col-md-12">
    <li class="dyba-nav-link-container">
      <a class="dyba-nav-link" role="menuitem" href="/pages/project.html">REGISTRATION</a>
    </li>
    <li class="dyba-nav-item roar">
      <a href="#">
        <img src="/images/animal-paw-print_green.svg" class="dyba-nav-logo-small">
      </a>
    </li>
    <li class="dyba-nav-dropdown-container">
      <a class="dyba-nav-dropdown-header" role="menuitem" href="#">TEAMS</a>
      <ul class="dyba-nav-dropdown-menu">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </li>
    <li class="dyba-nav-item">
      <img src="/images/animal-paw-print_green.svg" class="dyba-nav-logo-small">
    </li>
    <li class="dyba-nav-dropdown-container">
      <a class="dyba-nav-dropdown-header" role="menuitem" href="#">PROGRAMS</a>
      <ul class="dyba-nav-dropdown-menu">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </li>
    <li class="dyba-nav-item">
      <img src="/images/animal-paw-print_green.svg" class="dyba-nav-logo-small">
    </li>
    <li class="dyba-nav-dropdown-container">
      <a class="dyba-nav-dropdown-header" role="menuitem" href="#">ABOUT</a>
      <ul class="dyba-nav-dropdown-menu">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </li>
    <li class="dyba-nav-item">
      <img src="/images/animal-paw-print_green.svg" class="dyba-nav-logo-small">
    </li>
    <li class="dyba-nav-dropdown-container">
      <a class="dyba-nav-dropdown-header" role="menuitem" href="#">COACHES</a>
      <ul class="dyba-nav-dropdown-menu">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </li>
  </ul>

  <ul class="dyba-nav-container dyba-nav-container-sm hidden-xs col-sm-12 hidden-md hidden-lg">
    <li class="dyba-nav-link-container">
      <a class="dyba-nav-link" role="menuitem" href="/pages/project.html">REGISTRATION</a>
    </li>
    <li class="dyba-nav-item roar">
      <a href="#">
        <img src="/images/animal-paw-print_green.svg" class="dyba-nav-logo-small">
      </a>
    </li>
    <li class="dropdown dyba-nav-dropdown-container">
      <a class="dyba-nav-dropdown-header" id="dropdownMenuSM1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">TEAMS</a>
      <ul class="dropdown-menu dyba-nav-dropdown-menu" aria-labelledby="dropdownMenuSM1">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </li>
    <li class="dyba-nav-item">
      <img src="/images/animal-paw-print_green.svg" class="dyba-nav-logo-small">
    </li>
    <li class="dropdown dyba-nav-dropdown-container">
      <a class="dyba-nav-dropdown-header" id="dropdownMenuSM2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">PROGRAMS</a>
      <ul class="dropdown-menu dyba-nav-dropdown-menu" aria-labelledby="dropdownMenuSM2">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </li>
    <li class="dyba-nav-item">
      <img src="/images/animal-paw-print_green.svg" class="dyba-nav-logo-small">
    </li>
    <li class="dropdown dyba-nav-dropdown-container">
      <a class="dyba-nav-dropdown-header" id="dropdownMenuSM3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">ABOUT</a>
      <ul class="dropdown-menu dyba-nav-dropdown-menu" aria-labelledby="dropdownMenuSM3">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </li>
    <li class="dyba-nav-item">
      <img src="/images/animal-paw-print_green.svg" class="dyba-nav-logo-small">
    </li>
    <li class="dropdown dyba-nav-dropdown-container">
      <a class="dyba-nav-dropdown-header" id="dropdownMenuSM4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">COACHES</a>
      <ul class="dropdown-menu dyba-nav-dropdown-menu" aria-labelledby="dropdownMenuSM4">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </li>
  </ul>

  <div class="row xs-row hidden-sm hidden-md hidden-lg">
    <div class="dropdown dyba-xs-nav-dropdown">
      <button class="btn btn-default dropdown-toggle dyba-xs-nav-button" type="button" id="dropdownMenuXS" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Menu
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuXS">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
</nav>




