<div class="dyba-main-container row">
  <div class="dyba-links-sidebar col-md-3 col-sm-3">
    <a class="dyba-sidelink" role="link" href="http://www.cnn.com">
      <div class="dyba-sidebar-logo-3">Register</div>
      <img src="/images/Jags Logo Green.png" class="dyba-sidebar-logo-2">
      <div class="dyba-sidebar-logo-1">J</div>
    </a>
    <a class="dyba-sidelink" role="link" href="#">
      <div class="dyba-sidebar-logo-3">Growth</div>
      <img src="/images/Jags Logo Green.png" class="dyba-sidebar-logo-2">
      <div class="dyba-sidebar-logo-1">A</div>
    </a>
    <a class="dyba-sidelink" role="link" href="#">
      <div class="dyba-sidebar-logo-3">Teams</div>
      <img src="/images/Jags Logo Green.png" class="dyba-sidebar-logo-2">
      <div class="dyba-sidebar-logo-1">G</div>
    </a>
    <a class="dyba-sidelink" role="link" href="#">
      <div class="dyba-sidebar-logo-3">Programs</div>
      <img src="/images/Jags Logo Green.png" class="dyba-sidebar-logo-2">
      <div class="dyba-sidebar-logo-1">S</div>
    </a>
  </div>
  <div class="dyba-main-content col-md-9 col-sm-9"></div>
</div>







