<nav class="dyba-nav row">
  <a href="#" class="dyba-logo-container col-md-3 col-sm-12 col-xs-12">
    <p class="home-hidden">Home</p>
    <img src="/images/Jags shield logo-white.png" class="dyba-nav-logo-large">
  </a>
  <ul class="dyba-links-container col-md-9 col-sm-12">
    <li class="row hidden-xs hidden-sm"></li>
    <li class="row">
      <ul class="dyba-nav-menu">
        <li class="dyba-nav-menuitem">
          <a class="dyba-nav-link" role="menuitem" href="/pages/project.html">Teams</a>
          <ul class="dyba-nav-submenu">
            <li><a href="#">2nd Grade</a></li>
            <li><a href="#">3rd Grade</a></li>
            <li><a href="#">4th Grade</a></li>
          </ul>
        </li>
        <li class="dyba-nav-item">
          <img src="/images/Jags shield logo-white.png" class="dyba-nav-logo-small">
        </li>
        <li class="dyba-nav-menuitem">
          <a class="dyba-nav-link" role="menuitem" href="/pages/project.html">Register</a>
          <ul class="dyba-nav-submenu">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
        </li>
        <li class="dyba-nav-item">
          <img src="/images/Jags shield logo-white.png" class="dyba-nav-logo-small">
        </li>
        <li class="dyba-nav-menuitem">
          <a class="dyba-nav-link" role="menuitem" href="/pages/project.html">Coaches</a>
          <ul class="dyba-nav-submenu">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
        </li>
        <li class="dyba-nav-item">
          <img src="/images/Jags shield logo-white.png" class="dyba-nav-logo-small">
        </li>
        <li class="dyba-nav-menuitem">
          <a class="dyba-nav-link" role="menuitem" href="/pages/project.html">About DYBA</a>
          <ul class="dyba-nav-submenu">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
        </li>
        <li class="dyba-nav-item">
          <img src="/images/Jags shield logo-white.png" class="dyba-nav-logo-small">
        </li>
        <li class="dyba-nav-menuitem">
          <a class="dyba-nav-link" role="menuitem" href="/pages/funnySquares.html">Links</a>
          <ul class="dyba-nav-submenu dyba-nav-submenu-last">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="row hidden-xs hidden-sm"></li>
  </ul>
</nav>









