<nav class="dyba-nav row">
  <div class="dyba-logo-container col-md-3 col-sm-12 col-xs-12">
    <p class="home-hidden">Home</p>
    <img src="/images/Jags shield logo-white.png" class="dyba-nav-logo-large">
  </div>
  <div class="dyba-links-container col-md-9 col-sm-12">
    <div class="row hidden-xs hidden-sm"></div>
    <div class="row">
      <div class="dyba-nav-item">
        <a class="dyba-nav-link" role="menuitem" href="/pages/todo.html">Teams
          <div class="dyba-dropdown">
            <ul>
              <li><a href="#">2nd Grade</a></li>
              <li><a href="#">3rd Grade</a></li>
              <li><a href="#">4th Grade</a></li>
            </ul>
          </div>
        </a>
      </div>
      <div class="dyba-nav-item">
        <img src="/images/Jags shield logo-white.png" class="dyba-nav-logo-small">
      </div>
      <div class="dyba-nav-item">
        <a class="dyba-nav-link" role="menuitem" href="/pages/todo.html">Register</a>
      </div>
      <div class="dyba-nav-item">
        <img src="/images/Jags shield logo-white.png" class="dyba-nav-logo-small">
      </div>
      <div class="dyba-nav-item">
        <a class="dyba-nav-link" role="menuitem" href="/pages/todo.html">Coaches</a>
      </div>
      <div class="dyba-nav-item">
        <img src="/images/Jags shield logo-white.png" class="dyba-nav-logo-small">
      </div>
      <div class="dyba-nav-item">
        <a class="dyba-nav-link" role="menuitem" href="/pages/project.html">About DYBA</a>
      </div>
      <div class="dyba-nav-item">
        <img src="/images/Jags shield logo-white.png" class="dyba-nav-logo-small">
      </div>
      <div class="dyba-nav-item">
        <a class="dyba-nav-link" role="menuitem" href="/pages/funnySquares.html">Links</a>
      </div>
    </div>
    <div class="row hidden-xs hidden-sm"></div>
  </div>
</nav>









