.todo-container {
  width: 456px;
  height: auto;
  margin: 10px auto 0;
  position: relative;
  background: black;
  border-radius: 5px;
  font-family: georgia;
}
header {
  width: 456px;
  height: 26px;
  background: #999999;
  color: black;
  font-size: 18px;
  line-height: 27px;
  padding-left: 8px;
  border-radius: 5px 5px 0 0;
  position: relative;
}
.add-todo-container {
  position: relative;
  width: auto;
  height: 40px;
  padding: 5px 5px 0 5px;
}
.add-todo-container .enter-todo {
  position: relative;
  width: 370px;
  float: left;
}
.add-todo-container button {
  position: relative;
  width: 70px;
  background: #999999;
  padding: 4px 12px;
  font-size: 17px;
  color: black;
  float: right;
}
.todo-container .list-group {
  margin: 4px 0;
}
.list-group-item {
  position: relative;
  height: 42px;
  margin: 0 5px;
}
footer {
  height: 1px;
}