.todo-container {
  width: 90%;
  max-width: 455px;
  height: auto;
  margin: 10px auto 0;
  position: relative;
  background: black;
  border-radius: 5px;
  font-family: georgia;
}

.todo-header {
  width: 100%;
  height: 26px;
  background: #999999;
  color: black;
  font-size: 18px;
  line-height: 27px;
  padding-left: 8px;
  border-radius: 5px 5px 0 0;
  position: relative;
}

.add-todo-container {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 5px 5px 0 5px;
}

.add-todo-container .enter-todo {
  position: relative;
  width: calc(100% - 75px);
  float: left;
}

.add-todo-container button {
  position: relative;
  width: 70px;
  background: #999;
  padding: 4px 12px;
  font-size: 17px;
  color: black;
  float: right;
}

.todo-container .list-group {
  margin: 4px 5px;
}

.list-group-item {
  position: relative;
  height: 46px;
  margin: 0;
}

.todo-close {
  text-align: right;
}

.todo-footer {
  height: 1px;
}

:root {
  --heading: #97a88e;
}

@font-face {
  font-family: nexa_hand;
  src: url(/css/NexaRustHand.ttf);
}

@font-face {
  font-family: nexa;
  src: url(/css/NexaRustSlab-1.ttf);
}

@font-face {
  font-family: nexa_shadow;
  src: url(/css/NexaRustSlab-Shadow1.ttf);
}

.dyba-body {
  margin: 0;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.dyba-header {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  background-image: url("/images/Jags Logo Green.png");
  background-size: 190px;
}

.dyba-background {
  margin: 0;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right, rgba(0, 82, 20, 0.9), #005214 20%, #005214 80%, rgba(0, 82, 20, 0.9));
}

.dyba-title-bar {
  position: relative;
  display: block;
  height: 100px;
}

.dyba-logo-container {
  position: relative;
  display: inline-block;
  height: 100px;
  text-align: center;
}

.home-hidden {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 100px;
  font-size: 20px;
  font-family: 'nexa_hand', serif;
  color: white;
  text-align: center;
  opacity: 0;
}

.dyba-nav-logo {
  position: relative;
  display: inline-block;
  height: 110px;
}

.dyba-title-container {
  position: relative;
  display: inline-block;
  height: 100px;
}

.dyba-title {
  position: relative;
  display: block;
  color: white;
  text-align: left;
  font-size: 3.2vw;
  line-height: 100px;
  font-family: 'nexa', serif;
}

.dyba-nav-bar {
  position: relative;
  display: block;
  height: auto;
  margin: 0;
}

.dyba-nav-container {
  position: relative;
  padding: 0;
  width: 100%;
  margin-bottom: 0;
  background-color: white;
  text-align: center;
  border-bottom: 2px solid black;
}

.dyba-nav-container.sticky {
  position: fixed;
  top: 0;
  z-index: 99;
}

.dyba-nav-link-container {
  position: relative;
  display: inline-block;
  width: auto;
  height: 30px;
}

.dyba-nav-link {
  position: relative;
  text-decoration: none;
  display: block;
  color: black;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-family: 'nexa_hand', serif;
}

.dyba-nav-item {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  width: auto;
}

.dyba-nav-logo-small {
  position: relative;
  height: 10px;
  margin-top: -3px;
}

.dyba-nav-dropdown-container {
  position: relative;
  display: inline-block;
  width: auto;
  height: 30px;
}

.dyba-nav-dropdown-header {
  position: relative;
  text-decoration: none;
  display: block;
  color: black;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-family: 'nexa_hand', serif;
}

.dyba-nav-dropdown-menu {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 0;
  background: #fff;
  border: 1px solid #999;
  border-radius: 0 0 5px 5px;
  box-shadow: 3px 3px 10px #999, -3px 3px 10px #999;
  z-index: 1;
  display: none;
}

.dyba-nav-dropdown-menu li a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 3px 10px;
  clear: both;
  color: black;
  font-size: 15px;
  font-family: 'nexa_hand', serif;
  text-align: left;
  font-weight: normal;
  white-space: nowrap;
}

.dyba-nav-dropdown-menu li a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}

.dyba-nav-container-sm .dyba-nav-dropdown-header:hover {
  text-decoration: none;
  color: #999;
}

.dyba-xs-nav-dropdown {
  width: 90%;
  max-width: 350px;
  margin: auto;
  font-family: 'nexa_hand', serif;
}

.dyba-xs-nav-button {
  width: 100%;
}

.dyba-main {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  min-height: 600px;
  margin: 0;
  padding-top: 40px;
  background-color: #dddedd;
}

.dyba-main.sticky {
  top: 30px;
}

.dyba-main-heading {
  position: relative;
  display: block;
  width: 600px;
  height: auto;
  margin: 0 auto;
}

.dyba-main-heading-row1 {
  position: relative;
  display: flex;
  width: 60%;
  height: 30px;
  margin: 0 auto;
}

.dyba-main-heading-row1-border {
  position: relative;
  display: inline-block;
  width: 35%;
  height: 30%;
  border-bottom: 3px ridge var(--heading);
}

.dyba-main-heading-row1-image {
  position: relative;
  display: inline-block;
  width: 108px;
  height: 100%;
  text-align: center;
}

.dyba-main-heading-row1-image-file {
  position: relative;
  width: 60px;
  top: -25px;
  opacity: 0;
  animation: show-jag 1s 1.5s forwards cubic-bezier(0.64, 1.87, 0.64, 0.64);
}

.dyba-main-heading-row2 {
  position: relative;
  display: block;
  width: auto;
  height: 80px;
  color: #005214;
  text-align: center;
  font-size: 65px;
  line-height: 80px;
  letter-spacing: 5px;
  font-family: 'nexa_shadow', serif;
}

.dyba-main-heading-row3 {
  position: relative;
  display: block;
  width: 100%;
  height: 15px;
  border-bottom: 3px ridge var(--heading);
}

.dyba-main-content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
}

.dyba-main-content p {
  position: relative;
  display: block;
  width: 100%;
  line-height: 27px;
  color: black;
  font-size: 18px;
  font-family: 'Happy Monkey', serif;
  text-align: left;
}

ul {
  list-style-type: none;
}

.dyba-footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 10px;
  background: #005214;
  color: var(--heading);
  font-family: 'Happy Monkey', serif;
  font-size: 12px;
}

.dyba-footer-credits {
  position: relative;
  display: inline-block;
  height: 50px;
}

.dyba-footer-credits p {
  line-height: 50px;
  text-align: left;
  margin-bottom: 0;
}

.dyba-footer-credits-popup {
  position: relative;
  display: none;
  width: 200px;
  height: 66px;
  padding: 3px;
  line-height: 20px;
  border-radius: 5px;
  background: #005214;
  text-align: left;
  bottom: 66px;
}

.dyba-footer-middle {
  position: relative;
  display: inline-block;
  height: 50px;
  padding: 5px 0;
}

.dyba-footer-created {
  position: relative;
  display: block;
  width: 100%;
  height: 50%;
  text-align: center;
}

.dyba-footer-created a {
  line-height: 20px;
  color: var(--heading);
}

.dyba-footer-created a:hover {
  color: white;
  text-decoration: none;
}

.dyba-footer-copyright {
  position: relative;
  display: block;
  width: 100%;
  height: 50%;
}

.dyba-footer-copyright p {
  line-height: 20px;
  text-align: center;
  margin-bottom: 0;
}

.dyba-footer-contact {
  position: relative;
  display: inline-block;
  height: 50px;
}

.dyba-footer-contact p {
  line-height: 50px;
  text-align: right;
  margin-bottom: 0;
}

@keyframes show-jag {
  0% {
    opacity: 0;
    transform: rotateZ(-100deg);
  }
  100% {
    opacity: 1;
    transform: rotateZ(0);
  }
}

@media (max-width: 991px) {
  .dyba-footer-credits {
    height: 20px;
  }
  .dyba-footer-credits p {
    line-height: 20px;
    text-align: center;
  }
  .dyba-footer-credits-popup {
    margin: 0 auto;
  }
  .dyba-footer-middle {
    height: 40px;
    padding: 0;
  }
  .dyba-footer-contact {
    height: 20px;
  }
  .dyba-footer-contact p {
    line-height: 20px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .dyba-title-bar {
    height: auto;
  }
  .dyba-title-container {
    padding-top: 10px;
    height: auto;
  }
  .dyba-title {
    text-align: center;
    line-height: 34px;
    font-size: 34px;
  }
  .dyba-main-heading {
    width: 80%;
    max-width: 400px;
  }
  .dyba-main-heading-row1-image {
    width: 108px;
  }
  .dyba-main-heading-row1-image-file {
    width: 44px;
    top: -10px;
  }
  .dyba-main-heading-row2 {
    height: 50px;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px;
  }
}

@media (max-width: 450px) {
  .dyba-title {
    text-align: center;
    font-size: 7vw;
  }
}

h1 {
  color: orange;
}

.square {
  display: inline-block;
  height: 100px;
  width: 100px;
  background: #63a1f2;
  text-align: center;
  line-height: 100px;
  font-family: garamond;
  font-size: 44px;
  transform: none;
  transition: transform .5s;
}

.square-container {
  perspective: 50px;
  display: inline-block;
}

.square1:hover {
  transform: skewX(-20deg);
  transition: transform .5s;
}

.square2:hover {
  transform: rotate(20deg);
  transition: transform .5s;
}

.square3:hover {
  transform: scale(0.5, 2);
  transition: transform .5s;
}

.square4:hover {
  transform: rotate(300deg);
  transition: transform .5s;
}

.square5:hover {
  transform: translate3d(20px, 50px, 100px);
}

.page-container {
  width: 700px;
  margin: auto;
  background-color: #ccc;
  min-height: 100px;
}

@font-face {
  font-family: immortal;
  src: url(/css/immortal.ttf);
}

.tory-container {
  background: #ff6500;
  min-height: 100vh;
}

.sidebar-container {
  height: auto;
  padding-bottom: 30px;
  background-image: linear-gradient(to right, #b24700, #b24700 90%, #ff6500);
}

.sidebar-container.col-md-4 {
  min-height: 100vh;
}

.profile-container {
  height: auto;
  text-align: center;
  font-family: immortal;
  color: #fe934c;
  width: 90%;
}

.profile-container p {
  font-family: immortal;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

.social-container {
  display: inline-block;
  height: auto;
  width: 90%;
  text-align: center;
  padding-top: 10px;
}

.social-icon {
  height: 20px;
  margin: 0 10px;
}

.my-work-container {
  height: auto;
  text-align: center;
  font-family: immortal;
  font-size: 30px;
  line-height: 30px;
  color: #fe934c;
  width: 90%;
}

.button-container {
  width: 80%;
  margin: auto;
  padding-top: 7px;
}

.my-work-button-text {
  font-family: georgia;
  font-size: 20px;
}

.main-container {
  height: auto;
  background: #ff6500;
  padding-top: 100px;
  text-align: center;
  font-family: immortal;
  font-size: 55px;
  line-height: 70px;
  color: white;
}

.tr-circle {
  position: relative;
  height: 150px;
  width: 150px;
  color: #ff6500;
  border-radius: 50%;
  background: #ff6500;
  margin: 0 auto 30px;
  animation: tsr-change 2s 1s steps(8) 15 forwards alternate;
}

.tr-text {
  position: absolute;
  display: block;
  width: 100%;
  line-height: 150px;
  text-align: center;
}

.tr-phone1 {
  position: absolute;
  display: block;
  opacity: 0;
  width: 100%;
  line-height: 150px;
  text-align: center;
  font-size: 25px;
  color: white;
  top: -15px;
}

.tr-phone2 {
  position: absolute;
  display: block;
  opacity: 0;
  width: 100%;
  line-height: 150px;
  text-align: center;
  font-size: 25px;
  color: white;
  top: 15px;
}

.fr-ed {
  font-size: 45px;
}

@keyframes tsr-change {
  0% {
    background: #ff6500;
  }
  100% {
    background: #b24700;
  }
}

@media (max-width: 991px) {
  .sidebar-container {
    height: auto;
    padding-bottom: 20px;
    background: #b24700;
    margin-top: 0;
  }
  .sidebar-container.col-md-4 {
    min-height: 1px;
  }
  .profile-container {
    width: 100%;
  }
  .profile-container p {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  .profile-heading {
    margin-top: 0;
    padding-top: 10px;
  }
  .social-container {
    width: 100%;
    padding-top: 20px;
  }
  .my-work-container {
    width: 100%;
  }
  .button-container {
    width: 60%;
    max-width: 400px;
  }
  .main-container {
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (max-width: 500px) {
  .fr-ed {
    font-size: 35px;
  }
}

@font-face {
  font-family: immortal;
  src: url(/css/immortal.ttf);
}

.music-body {
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: black;
  position: absolute;
}

.music-container {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
  position: absolute;
}

.start-animation {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-family: immortal;
  font-size: 24px;
  color: white;
  background-color: #07530d;
  border-radius: 50%;
  border: white 3px solid;
  display: none;
}

.beat-text {
  color: orange;
}

.boop {
  position: absolute;
  width: auto;
  left: 800px;
  top: 150px;
  font-size: 0px;
  transform-origin: center center;
}

.flik1 {
  position: absolute;
  left: 850px;
  top: 100px;
  font-size: 0px;
}

.flik2 {
  position: absolute;
  left: 900px;
  top: 70px;
  font-size: 0px;
}

.flik3 {
  position: absolute;
  left: 950px;
  top: 100px;
  font-size: 0px;
}

.ting {
  position: absolute;
  left: 1000px;
  top: 50px;
  font-size: 0px;
}

.snare {
  position: absolute;
  left: 50px;
  top: 250px;
  font-size: 0px;
}

.off-bass {
  position: absolute;
  left: 150px;
  top: 350px;
  color: red;
  font-size: 0px;
}

.bass {
  position: absolute;
  left: 50px;
  top: 400px;
  font-size: 0px;
}

.note {
  position: absolute;
  width: 50px;
  opacity: 0;
}

.lyric-a, .lyric-b, .lyric-c, .lyric-d, .lyric-e, .lyric-f, .lyric-g, .lyric-h {
  position: absolute;
  display: none;
  font-family: immortal;
  font-size: 42px;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.search-container .photo {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
}

.search-container .photo img {
  width: 100%;
}

/*# sourceMappingURL=main.css.map*/