<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script type="text/javascript" async="async" defer="defer" src="application.js"></script>
  </head>
  <body>
  	<h1>Detail Page</h1>
  	<main>
  		<div class="col-md-4">
  			<p>Title</p>
  			<p>Is Done?</p>
  			<p>Author</p>
  			<p>Create Date</p>
  			<p>Due Date</p>
  			<p>Description</p>
  			<p>Link</p>
  		</div>
  		<div class="col-md-8">
  			<p>Item #1</p>
  			<p>No</p>
  			<p>Tory</p>
  			<p><time>April 1st</time></p>
  			<p><time>May 1st</time></p>
  			<p>Learn JavaScript</p>
  			<p>
  				<a href="http://www.example.com" target="_new">
  					www.example.com
  				</a>
  			</p>
  		</div>
  	</main>
  </body>
</html>