<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row tory-container">
        <div class="main-container col-sm-8 col-sm-push-4">
          Tory Rahm<br>Front-end Developer
        </div>
        <div class="sidebar-container col-sm-4 col-sm-pull-8">
          <div class="profile-container">
            <h2 class="profile-heading">Profile</h2>
            <p>I am a mechanical engineer learning front-end development. I have experience with HTML5, CSS3, JavaScript, jQuery, Backbone, Underscore, Bootstrap and Handlebars. I am new to front-end development. However, I have the intelligence, inherent skills, business experience and work ethic to be successful in this industry. I have a passion for learning and I am a relentless problem-solver. Check out my work at the links below. Please contact me at toryrahm at gmail if you have an opening for a junior developer. Thanks!</p>
          </div>
          <div class="social-container">
            <a class="social-link" href="https://www.linkedin.com/in/toryrahm">
              <img class="social-icon" src="/images/LinkedIn.png">
            </a>
          </div>
          <div class="my-work-container">
            <h2>My Work</h2>
            <div class="button-container">
              <a class="btn btn-primary btn-block" href="/pages/dyba.html">
                <span>DYBA</span>
              </a>
              <a class="btn btn-primary btn-block" href="/pages/todo.html">
                <span>Todo Application</span>
              </a>
              <a class="btn btn-primary btn-block" href="#">
                <span>Music Animation</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
