<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row tory-container">
        <div class="main-container col-md-8 col-md-push-4">
          <div class="tr-circle hidden-xs hidden-sm">
            <div class="tr-text">TR</div>
            <div class="tr-phone1">303</div>
            <div class="tr-phone2">589.5626</div>
          </div>
          <div class="tr-circle hidden-md hidden-lg">
            <div class="tr-text">TR</div>
            <div class="tr-phone1">303</div>
            <div class="tr-phone2">589.5626</div>
          </div>
          Tory Rahm<br><span class="fr-ed">Front-end Developer</span>
        </div>
        <div class="sidebar-container col-md-4 col-md-pull-8">
          <div class="profile-container">
            <h2 class="profile-heading">Profile</h2>
            <p>Dedicated, results-driven junior Front-end Developer with a passion for web development, learning new technologies and problem-solving. Technical skills include JavaScript, jQuery, Bootstrap, React, Backbone, HTML5 and CSS. Transferable skills include engineering, product development, project management, team leadership and customer relations. Please contact me at toryrahm at gmail to discuss junior developer opportunities. Thanks!</p>
          </div>
          <div class="social-container">
            <a class="social-link" href="https://www.linkedin.com/in/toryrahm">
              <img class="social-icon" src="/images/LinkedIn.png">
            </a>
            <a class="social-link" href="https://github.com/tsrahm">
              <img class="social-icon" src="/images/GitHub-Light.png">
            </a>
          </div>
          <div class="my-work-container">
            <h2>My Work</h2>
            <div class="button-container">
              <a class="btn btn-primary btn-block" href="http://www.develynyouthbasketball.org/">
                <span class="my-work-button-text">DYBA</span>
              </a>
              <a class="btn btn-primary btn-block" href="/pages/todo.html">
                <span class="my-work-button-text">Todo Application</span>
              </a>
              
<!-- Needs to be updated so animation starts when the music loads
              <a class="btn btn-primary btn-block" href="/pages/music.html">
                <span class="my-work-button-text">Music Animation</span>
              </a>
-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
